<settings>
    <category label="Provider Settings">
        <setting label="Provider Selection" type="lsep"/> <!-- Provider Selection -->
        <setting label=" Magenta TV (DE)" type="lsep"/> <!-- Login Data -->
        <setting id="enable_grabber_magenta" type="bool" label="Enable Provider Magenta TV (DE)" default="false" /><!-- Provider Magenta -->
        <setting id="select_channels" type="action" label="Select Channels to Grab" action="XBMC.RunScript(service.takealug.epg-grabber, select_channels)" option="close" visible="!eq(-1,false)"/>
        <setting id="magenta_episode_format" type="select" label="Episode Format" default="xmltv_ns" values="xmltv_ns|onscreen" visible="!eq(-2,false)" /> <!-- Episode Format -->
        <setting id="magenta_channel_format" type="select" label="Channel Format" default="rytec" values="rytec|provider" visible="!eq(-3,false)" /> <!-- Channel Format -->
        <setting id="magenta_genre_format" type="select" label="Genre Format" default="eit" values="eit|provider" visible="!eq(-4,false)" /> <!-- Genre Format -->
        <setting id="magenta_days_to_grab" type="select" label="Days to Grab" default="1" values="1|2|3|4|5|6|7|8|9|10|11|12|13|14" visible="!eq(-5,false)" /> <!-- Days to Grab -->
    </category>

    <category label="Global Settings">
        <setting label="Automatic Download" type="lsep"/> <!-- Auto Download -->
        <setting id="auto_download" type="bool" label="Auto Download" default="false" />
        <setting id="timeswitch" type="enum" label="Grab EPG daily at" default="0" values="$HOURS" enable="eq(-1,true)" />
        <setting id="timeoffset" type="enum" label="Grab EPG immediately if EPG is older than" default="0" values="24 Hours|36 Hours|48 Hours" enable="eq(-2,true)" />
        <setting label="Save generated guide.xml to Disk" type="lsep"/> <!-- Storage Location -->
        <setting id="storage_path" type="folder" label="Storage Path" default="choose" />
    </category>

    <category label="Misc Settings">
        <setting label="Manual Download" type="lsep"/> <!-- Manual Download -->
        <setting id="manual_download" type="action" label="Run EPG Grabber Manual" action="XBMC.RunScript(service.takealug.epg-grabber, manual_download)" option="close" />
    </category>

</settings>